<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-6 align-self-center">
            <div class="overflow-auto" style="max-height: 500px; max-width: 630px;">
                <div *ngFor="let mensaje of mensajes" class="card" style="border: white">
                    <div class="card-body bg-light">
                        <p><strong>{{mensaje.usuario}}</strong>: {{mensaje.texto}}</p>
                    </div>                    
                </div>
            </div>
            <div class="input-group mb-3">
                <input #inputMensaje [(ngModel)]="input_msj" type="text" class="form-control" placeholder="Mensaje">
                <button (click)="enviarMensaje()" class="btn btn-primary" type="button">Enviar</button>
            </div>
        </div>
    </div>
</div>

<h4>Recopilación de datos almacenados en MongoDB.</h4>
<h4>Top 3 de áreas con mayor vacunados con esquema completo en MongoDB.</h4>
<h4>Gráfico circular del porcentaje de vacunados, una dosis, por departamentos, etc., en MongoDB.</h4>
<div class ="row text-center">
    <div class="col">
        <div style="width:100%;">
            <canvas id="graf1" width="700" height="250" #graf1></canvas>
        </div>
    </div>
</div>
<h4>Gráfico circular del porcentaje de vacunados, esquema completo, por departamentos, etc., en MongoDB.</h4>
<div class="row text-center">
    <div class="col">
        <div style="width:100%;">
            <canvas id="graf2" width="700" height="250" #graf2></canvas>
        </div>
    </div>
</div>
<h4>Las últimas 5 personas vacunadas almacenadas en Redis.</h4>
<h4>Gráfico de barras de rango de edad de los vacunados en Redis</h4>
<div class="row text-center">
    <div class="col">
        <div style="width:100%;">
            <canvas id="graf3" width="700" height="250" #graf3></canvas>
        </div>
    </div>
</div>